#about{
margin-bottom: 150px;
}

#boosters{
padding-top: 75px;
}
.table-hover>tbody>tr:hover {
	background-color: #4C4C4C
	;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: block;
}

ul#menu li a {
    background-color: #4C4C4C;
    color:#EFEFEF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
display: inline-block;
}

ul#menu li a:hover {
    background-color: orange;
}

h2{

    text-align: center;
    font-size: 50px;
}
div.col-sm-4{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #829CEA;
  color: black;
  border: 2px solid #080825;
}
h4{
 text-align: center;
 padding-top: 5px;
 padding-bottom: 0px;
 border-bottom: 1px solid black;



}
img{
    width: 175px;
    height: 175px;

}

#tbp img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

}

p.reputation{
    padding-top: 15px;
    font-size: 19px;
    font-weight: 900px;
    padding-bottom: 0px;

}

ul.stat{
    padding-top:25px ;
    list-style-type: none;
    font-size: 19px;
   
}

.btn-primary {
  color: #829CEA;
  background-color: #000000;
  border-color: #829CEA;
}

#contact a:link  {
  color:#829CEA;
}

#contact a:hover{
  color:white ;

}

.btn-info{
  color:white;
  background-color:#829CEA ;
  border-color: white;
}

.allboosterstitle{
  margin-top: 400px;
  margin-bottom:15px   ;

}

.allboosterstitle a:link{

  color: #829CEA;
}

.btn-warning{
  color:#829CEA;
  background-color:#000000 ;
  border-color:#829CEA ;
  margin-left:450px ;
  margin-top:25px ;
  width: 250px;
  height: 60px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/background.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.alb a {

  border:2px solid white;
  color:white;
  background-color: #829CEA ;
  font-size: 35px;
  padding: 5px;
  margin-top: 250px;
  margin-left: 380px;


}

.alb {

  margin-top: 15px;


}


